VITE_FIREBASE_API_KEY=AIzaSyAxLb2CgKjkWKJyR77E8uzIYltT27c9INc
VITE_FIREBASE_AUTH_DOMAIN=sas-car-refinish.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sas-car-refinish
VITE_FIREBASE_STORAGE_BUCKET=sas-car-refinish.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=24018580172
VITE_FIREBASE_APP_ID=1:24018580172:web:564d75e6dea94c890c8869

